{% extends "base.html" %}

{% block subtitle %}Add a Song{% endblock %}

{% block head %}
<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        align-content: center;
    }
    form {
        width: max-content;
    }
    form p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    p label {
        padding-right: 3em;
    }
    #pin-artist {
        appearance: none;
    }

    .pin {
        height: 1em;
        width: 1em;
        display: inline-block;
        padding-right: 0;
    }

    #pin-artist + .pin {
        background: url("/static/unlock.svg") no-repeat center;
        transition: all 100ms;
    }

    #pin-artist:checked + .pin {
        background: url("/static/lock-fill.svg") no-repeat center;
        transition: all 100ms;
    }

</style>
{% endblock %}

{% block content %}
<datalist id="artist-list">
    {% for artist in artists %}
    <option value="{{ artist }}">
        {% endfor %}
</datalist>

<div>
    <form>
        <p>
            <label for="artist">Artist:</label>
            <span>
                <input type="checkbox" id="pin-artist" />
                <label for="pin-artist" class="pin"></label>
                <input type="text" id="artist" name="artist" placeholder="Artist" list="artist-list"/>
            </span>
        </p>
        <p>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" placeholder="Title" />
        </p>
        <p>
            <label for="video_link">Video Link:</label>
            <input type="text" id="video_link" name="video_link" placeholder="Video Link" />
        </p>
        <input type="button" value="Submit" onclick="submitForm()" />
    </form>
</div>
<script>
    function submitForm() {
        let artist = document.getElementById("artist").value;
        let title = document.getElementById("title").value;
        let video_link = document.getElementById("video_link").value;
        let data = {
            artist: artist,
            title: title,
            video_link: video_link,
        };

        fetch('/api/add-song', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
                .then(() => {
                    if (!document.getElementById("pin-artist").checked) {
                        document.getElementById("artist").value = "";
                    }
                    document.getElementById("title").value = "";
                    document.getElementById("video_link").value = "";
                });

    }
</script>
{% endblock %}