{% extends "base.html" %}

{% block title %}Companion{% endblock %}

{% block head %}
<style>
    body {
        text-align: center;
    }

    .song-container {
    }

    .song-container h1 {
        margin-bottom: 0;
        word-break: break-word;
    }

    .song-container h3 {
        margin-top: 0;
        margin-bottom: 2.5em;
    }

    #rating-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }

    .btn {
        width: 100%;
        padding: 10px 20px;
        font-size: calc(26px + 1vw);
        cursor: pointer;
        margin-bottom: 20px;
    }

    #leaderboard-container {
        margin-bottom: 2em;
        margin-top: 2em;
    }

    #leaderboard-table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        row-gap: 10px;
    }

    .user-score {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 50%;
    }

    .chip {
      display: inline-block;
      padding: 0 25px;
      height: 50px;
      line-height: 50px;
      border-radius: 25px;
      background-color: #f1f1f1;
    }

    .chip img {
      float: left;
      margin: 0 10px 0 -25px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }

    #join-session-container {
        display: none;
    }

    #join-session-container {
        display: none;
    }


</style>
{% endblock %}

{% block content %}
<span class="song-container" id="song-details"></span>

<span id="join-session-container">
    <button id="join-session" class="btn">Join Session!</button>
</span>

<div id="leaderboard-container">
    <div id="leaderboard-table">
    </div>
</div>

<span id="step-out-container">
    <button id="stepping-out" class="btn">I'm stepping out</button>
    <button id="stepping-back" class="btn">I'm back!</button>
</span>

<span id="leave-session-container">
    <button id="leave-session" class="btn">I'm going home, bye!</button>
</span>



<script>
    let user = getUserOrRedirectToLoginPage();
    console.log(`user.id = ${user.id}, user.name = ${user.name}`);

    let currentSong = {};
    let session_id = "{{ session_id }}";

    function updateCurrentlyPlaying() {
        fetch(`/api/get-current-song?s=${session_id}`)
                .then(response => response.json())
                .then(song_json => {
                    currentSong = parseJsonSong(song_json);
                    updateCurrentSongDetails();

                    getCurrentScores(session_id)
                            .then(scores => {
                                updateCurrentScores(scores);
                            });
                })
                .catch(error => {
                    console.log('Error loading song:', error);
                });
    }

    function updateCurrentSongDetails() {
        const songDetails = document.getElementById('song-details');
        const ratingsContainer = document.getElementById('rating-container');
        if (currentSong.id !== -1) {
            songDetails.innerHTML = `
                <h1 id="song-title">${currentSong.title}</h1>
                <h3 id="song-artist">${currentSong.artist}</h3>
            `;
        } else {
            songDetails.innerHTML = currentSong.title;
        }
    }

    function getScoreIncludingCurrentRating(score) {
        let rating = currentSong.ratings.find(rating => rating.user_id === score.user_id);
        try {
            return score.score + toScore(rating.rating);
        } catch (e) {
            return score.score;
        }
    }

    function updateCurrentScores(scores) {
        const leaderboardTable = document.getElementById('leaderboard-table');
        leaderboardTable.innerHTML = '';
        scores.sort((a, b) => getScoreIncludingCurrentRating(b) - getScoreIncludingCurrentRating(a));
        let current_user_is_in_session = false;
        for (let i = 0; i < scores.length; i++) {
            let score = scores[i];
            console.log(`score.user_id = ${score.user_id}, user.id = ${user.id}`)
            if (score.user_id === user.id) {
                console.log("current user is in session");
                current_user_is_in_session = true;
            }
            let rating = currentSong.ratings.find(rating => rating.user_id === score.user_id);
            if (rating === undefined) {
                rating = {rating: 0};
            }
            let score_int = score.score + toScore(rating.rating);
            leaderboardTable.innerHTML += `
                <span class="user-score">
                    <span class="chip">${score.user_name} (${score_int})</span>
                    ${toStars(rating.rating)}
                </span>
            `;
        }
        console.log("current user is in session? " + current_user_is_in_session);
        document.getElementById("join-session-container").style.display = current_user_is_in_session ? "none" : "block";
        document.getElementById("leave-session-container").style.display = current_user_is_in_session ? "block" : "none";
    }

    let stepOutBtn = document.getElementById('stepping-out');
    let stepBackBtn = document.getElementById('stepping-back');
    let body = document.getElementsByTagName('body')[0];

    function stepOut() {
        const data = {
            "sessionId": "{{ session_id }}",
            "userId": getUserOrRedirectToLoginPage().id,
        }
        fetch('/api/step-out', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
                .then(response => {
                    if (response.ok) {
                        stepBackBtn.style.display = 'inline-block';
                        stepOutBtn.style.display = 'none';
                        body.style.backgroundColor = 'rgb(255 184 184)'
                    }
                });
    }
    stepOutBtn.addEventListener('click', stepOut);

    function stepBack() {
        const data = {
            "sessionId": "{{ session_id }}",
            "userId": getUserOrRedirectToLoginPage().id,
        }
        fetch('/api/step-back', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
                .then(response => {
                    if (response.ok) {
                        stepBackBtn.style.display = 'none';
                        stepOutBtn.style.display = 'inline-block';
                        body.style.backgroundColor = 'rgb(255 255 255)'
                    }
                });
    }
    stepBackBtn.addEventListener('click', stepBack);
    stepBackBtn.style.display = 'none';

    let joinSessionBtn = document.getElementById('join-session');
    function joinSession() {
        const data = {
            "sessionId": "{{ session_id }}",
            "userId": getUserOrRedirectToLoginPage().id,
        }
        fetch('/api/join-session', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
                .then(response => {
                    if (response.ok) {
                        updateCurrentlyPlaying();
                    }
                });
    }
    joinSessionBtn.addEventListener('click', joinSession);

    let leaveSessionBtn = document.getElementById('leave-session');
    function leaveSession() {
        const data = {
            "sessionId": "{{ session_id }}",
            "userId": getUserOrRedirectToLoginPage().id,
        }
        fetch('/api/leave-session', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
                .then(response => {
                    if (response.ok) {
                        updateCurrentlyPlaying();
                    }
                });
    }
    leaveSessionBtn.addEventListener('click', leaveSession);


    updateCurrentlyPlaying();
    setInterval(updateCurrentlyPlaying, 1000);

</script>
{% endblock %}
