{% extends "base.html" %}

{% block title %}Companion{% endblock %}

{% block head %}
<style>
    body {
        text-align: center;
    }

    .song-container {
    }

    .song-container h1 {
        margin-bottom: 0;
        word-break: break-word;
    }

    .song-container h3 {
        margin-top: 0;
        margin-bottom: 2.5em;
    }

    #rating-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }

    .rating {
        font-size: 0.7em;
    }

    .btn {
        width: 100%;
        padding: 10px 20px;
        font-size: calc(26px + 1vw);
        cursor: pointer;
        margin-bottom: 20px;
    }

    #leaderboard-container {
        margin-bottom: 2em;
        margin-top: 2em;
    }

    #leaderboard-table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .user-score {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 40%;
    }

</style>
{% endblock %}

{% block content %}
<span class="song-container" id="song-details"></span>

<span id="step-out-container">
    <button id="stepping-out" class="btn">I'm stepping out</button>
    <button id="stepping-back" class="btn">I'm back!</button>
</span>

<div id="leaderboard-container">
    <h3>Current scores</h3>
    <div id="leaderboard-table">
    </div>
</div>

<div id="rating-container"></div>


<script>
    let currentSong = {};
    let session_id = "{{ session_id }}";

    function updateCurrentlyPlaying() {
        fetch(`/api/get-current-song?s=${session_id}`)
                .then(response => response.json())
                .then(song_json => {
                    currentSong = parseJsonSong(song_json);
                    updateCurrentSongDetails();

                    getCurrentScores(session_id)
                            .then(scores => {
                                updateCurrentScores(scores);
                            });
                })
                .catch(error => {
                    console.log('Error loading song:', error);
                });
    }

    function updateCurrentSongDetails() {
        const songDetails = document.getElementById('song-details');
        const ratingsContainer = document.getElementById('rating-container');
        if (currentSong.id !== -1) {
            songDetails.innerHTML = `
                <h1 id="song-title">${currentSong.title}</h1>
                <h3 id="song-artist">${currentSong.artist}</h3>
            `;
            ratingsContainer.innerHTML = '';

            for (let i = 0; i < currentSong.ratings.length; i++) {
                let rating = currentSong.ratings[i];
                ratingsContainer.innerHTML += `
                    <span class="rating">
                        ${rating.user_name} rated this song "${toRatingDisplayString(rating.rating)}"
                    </span>
                `;
            }
        } else {
            songDetails.innerHTML = currentSong.title;
        }
    }

    function updateCurrentScores(scores) {
        const leaderboardTable = document.getElementById('leaderboard-table');
        leaderboardTable.innerHTML = '';
        for (let i = 0; i < scores.length; i++) {
            let score = scores[i];
            leaderboardTable.innerHTML += `
                <span class="user-score">
                    <span>${score.user_name}</span>
                    <span>${score.score}</span>
                </span>
            `;
        }
    }

    let stepOutBtn = document.getElementById('stepping-out');
    let stepBackBtn = document.getElementById('stepping-back');
    let body = document.getElementsByTagName('body')[0];

    function stepOut() {
        const data = {
            "sessionId": "{{ session_id }}",
            "userId": getUserOrRedirectToLoginPage().id,
        }
        fetch('/api/step-out', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
                .then(response => {
                    if (response.ok) {
                        stepBackBtn.style.display = 'inline-block';
                        stepOutBtn.style.display = 'none';
                        body.style.backgroundColor = 'rgb(255 184 184)'
                    }
                });
    }
    stepOutBtn.addEventListener('click', stepOut);

    function stepBack() {
        const data = {
            "sessionId": "{{ session_id }}",
            "userId": getUserOrRedirectToLoginPage().id,
        }
        fetch('/api/step-back', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
                .then(response => {
                    if (response.ok) {
                        stepBackBtn.style.display = 'none';
                        stepOutBtn.style.display = 'inline-block';
                        body.style.backgroundColor = 'rgb(255 255 255)'
                    }
                });
    }
    stepBackBtn.addEventListener('click', stepBack);
    stepBackBtn.style.display = 'none';

    updateCurrentlyPlaying();
    setInterval(updateCurrentlyPlaying, 1000);

</script>
{% endblock %}
