<!DOCTYPE html>
<html>
<head>
    <title>Users | Fair Karaoke</title>
    <link type="text/css" rel="stylesheet" href='{{ url_for("static", filename="main.css") }}' />
    <script src='{{ url_for("static", filename="main.js") }}'></script>
</head>

<body>
<h1>Fair Karaoke</h1>
<h2><span id="username"></span>, what would you like to do?</h2>
<ul>
    <li><a href="/rate?u=?" id="rate-link">Rate Songs</a></li>
    <li><a href="/add-song">Add Song</a></li>
    <li><a href="/users">List users and log in as a different user</a></li>
</ul>

<script>
    // Example usage: get the value of the "userId" cookie
    let userId = getCookie("userId");
    if (userId === null) {
      // If the user is not logged in, redirect to the login page
      window.location.href = "/users";
    }
    let username = getCookie("username");
    document.getElementById("username").innerText = username;
    document.getElementById("rate-link").href = "/rate?u=" + userId;
</script>
</body>
