{% extends "base.html" %}

{% block title %}Fair Karaoke{% endblock %}

{% block head %}
<style>
    .actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
    }

    .btn {
        width: 100%;
        padding: 10px 20px;
        font-size: calc(26px + 1vw);
        cursor: pointer;
    }

    @media (hover: none) {
        .actions {
            row-gap: 40px;
        }

        .btn {
            padding: 40px;
        }
</style>
{% endblock %}


{% block content %}
<h2><span id="username"></span>, what would you like to do?</h2>
<div class="actions">
    <form action="/rate"><button type="submit" class="btn">Rate Songs</button></form>
    <form action="/add-song"><button type="submit" class="btn">Add Song</button></form>
    <form action="/users"><button type="submit" class="btn">Switch user</button></form>
    <form action="/start-session"><button type="submit" class="btn">Start session</button></form>
</div>

<script>
    let user = getUserOrRedirectToLoginPage();
    document.getElementById("username").innerText = user.name;
</script>
{% endblock %}
