{% extends "base.html" %}

{% block subtitle %}Rate Songs{% endblock %}

{% block head %}
<style>
    body {
        text-align: center;
    }

    .song-container {
    }

    .song-container h1 {
        margin-bottom: 0;
        word-break: break-word;
    }

    .song-container h3 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    p {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .rating-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        column-gap: 5px;
        row-gap: 15px;
    }

    .rating-button {
        padding: 10px 20px;
        font-size: calc(26px + 1vw);
        cursor: pointer;
    }

    @media (hover: none) {
        .hotkey {
            display: none;
        }

        .rating-buttons {
            row-gap: 40px;
        }

        .rating-button {
            padding: 40px;
        }
    }

    #previous-song-container p {
        font-size: 1.2rem;
    }
</style>
{% endblock %}

{% block content %}
<div class="song-container">
    <p><span id="user-name"></span>, How well do you know this song?</p>
    <h1 id="song-title">Loading...</h1>
    <h3 id="song-artist"></h3>
    <p id="song-id" style="visibility: hidden"></p>
    <div class="rating-buttons">
        <button class="rating-button" onclick="rateSong(1)">I don't know this song<span class="hotkey"><br/>(1)</span></button>
        <button class="rating-button" onclick="rateSong(2)">I can sing along<span class="hotkey"><br/>(2)</span></button>
        <button class="rating-button" onclick="rateSong(3)">I can take the mic<span class="hotkey"><br/>(3)</span></button>
        <button class="rating-button" onclick="rateSong(4)">I NEED THE MIC<span class="hotkey"><br/>(4)</span></button>
    </div>
    <div id="previous-song-container">
        <p>You rated <b id="previous-song-title"></b> by <b id="previous-song-artist"></b> as "<span id="previous-song-rating"></span>"</p>
        <button onclick="undoRating()">Undo<span class="hotkey">(<kbd>Ctrl</kbd>+<kbd>z</kbd>)</span></button>
    </div>
</div>

<script>
    const user = getUserOrRedirectToLoginPage();
    document.getElementById('user-name').textContent = user.name;
    let songStack = [];

    document.addEventListener('keydown', function (event) {
        switch (event.key) {
            case '1':
                rateSong(1);
                break;
            case '2':
                rateSong(2);
                break;
            case '3':
                rateSong(3);
                break;
            case '4':
                rateSong(4);
                break;
            case 'z':
                if (event.ctrlKey) {
                    undoRating();
                }
                break;
        }
    });

    function rateSong(rating) {
        let ratingString = toRatingEnumString(rating)
        songStack.slice(-1)[0].rating = rating;
        const data = {
            userId: user.id,
            songId: songStack.slice(-1)[0].id,
            rating: ratingString
        };

        fetch('/api/rate-song', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
                .then(response => {
                    if (response.ok) {
                        if (ratingString !== "UNKNOWN") {
                            getNextSong();
                        }
                        updateSongDetails();
                    } else {
                        console.error('Error rating song:', response.status);
                    }
                })
                .catch(error => {
                    console.error('Error rating song:', error);
                });
    }

    function updateSongDetails() {
        console.log(songStack);
        document.getElementById('song-title').textContent = songStack.slice(-1)[0].title;
        document.getElementById('song-artist').textContent = songStack.slice(-1)[0].artist;

        if (songStack.length <= 1) {
            document.getElementById('previous-song-container').setAttribute("style", "display: none")
            return;
        }

        document.getElementById('previous-song-container').setAttribute("style", "display: block")
        document.getElementById('previous-song-title').textContent = songStack.slice(-2)[0].title;
        document.getElementById('previous-song-artist').textContent = songStack.slice(-2)[0].artist;
        document.getElementById('previous-song-rating').textContent = toRatingDisplayString(songStack.slice(-2)[0].rating);
    }

    function getNextSong() {
        fetch(`/api/next-unrated-song?u=${user.id}`)
                .then(response => response.json())
                .then(song => {
                    songStack.push({
                        id: song.song_id,
                        title: song.song_title,
                        artist: song.song_artist,
                        rating: 0
                    });
                    updateSongDetails();
                })
                .catch(error => {
                    console.error('Error fetching next song:', error);
                });
    }

    function undoRating() {
        if (songStack.length <= 1) {
            return;
        }
        songStack.pop();
        rateSong(0);
    }

    // Initial request to get the first song
    getNextSong();
</script>
{% endblock %}