{% extends "base.html" %}

{% block subtitle %}Rate Songs{% endblock %}

{% block head %}
<style>
    body {
        text-align: center;
    }

    .song-container {
    }

    .song-container h1 {
        margin-bottom: 0;
        word-break: break-word;
    }

    .song-container h3 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    p {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .rating-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        column-gap: 5px;
        row-gap: 15px;
    }

    .rating-button {
        padding: 10px 20px;
        font-size: calc(26px + 1vw);
        cursor: pointer;
        margin-bottom: 60px;
    }

    .undo-button {
        padding: 10px 20px;
        font-size: calc(26px + 1vw);
        cursor: pointer;
    }


    @media (hover: none) {
        .hotkey {
            display: none;
        }

        .rating-buttons {
            row-gap: 40px;
        }

        .rating-button {
            padding: 40px;
        }
    }

    #previous-song-container p {
        font-size: 1.2rem;
    }
</style>
{% endblock %}

{% block content %}
<div class="song-container">
    <p id="action-line"><span id="user-name"></span>, <span id="user-action"></span></p>
    <h1 id="song-title">Loading...</h1>
    <h3 id="song-artist"></h3>
    <p id="song-id" style="visibility: hidden"></p>
    <div class="rating-buttons" style="display: none">
        <button class="rating-button" onclick="rateDisplayedSong(1)">I don't know this song<span class="hotkey"><br/>(1)</span></button>
        <button class="rating-button" onclick="rateDisplayedSong(2)">I can sing along<span class="hotkey"><br/>(2)</span></button>
        <button class="rating-button" onclick="rateDisplayedSong(3)">I can take the mic<span class="hotkey"><br/>(3)</span></button>
        <button class="rating-button" onclick="rateDisplayedSong(4)">I NEED THE MIC<span class="hotkey"><br/>(4)</span></button>
    </div>
    <div id="video-area"></div>
    <div id="previous-song-container" style="display: none">
        <p>You rated <b id="previous-song-title"></b> by <b id="previous-song-artist"></b> as "<span id="previous-song-rating"></span>"</p>
        <button class="undo-button" onclick="undoRating()">Undo<span class="hotkey">(<kbd>Ctrl</kbd>+<kbd>z</kbd>)</span></button>
    </div>
</div>

<script>
    const user = getUserOrRedirectToLoginPage();
    document.getElementById('user-name').textContent = user.name;
    let songStack = [];

    document.addEventListener('keydown', function (event) {
        switch (event.key) {
            case '1':
                rateDisplayedSong(1);
                break;
            case '2':
                rateDisplayedSong(2);
                break;
            case '3':
                rateDisplayedSong(3);
                break;
            case '4':
                rateDisplayedSong(4);
                break;
            case 'z':
                if (event.ctrlKey) {
                    undoRating();
                }
                break;
        }
    });

    function rateDisplayedSong(rating) {
        let ratingString = toRatingEnumString(rating)
        songStack.slice(-1)[0].rating = rating;

        rateSong(user.id, songStack.slice(-1)[0].id, rating)
                .then(response => {
                    if (response.ok) {
                        if (ratingString !== "UNKNOWN") {
                            getNextSong();
                        }
                        updateSongDetails();
                    } else {
                        console.error('Error rating song:', response.status);
                    }
                })
                .catch(error => {
                    console.error('Error rating song:', error);
                });
    }

    function updateSongTitle(title) {
        document.getElementById('song-title').textContent = title;
    }

    function updateSongArtist(artist) {
        document.getElementById('song-artist').textContent = artist;
    }

    function updateSongVideo(video_link) {
        document.getElementById('video-area').innerHTML = getVideoEmbedInnerHtml(video_link, /*autoplay=*/false);
    }

    function disableVideo() {
        document.getElementById('video-area').innerHTML = "";
    }

    function updatePreviousSongTitle(title) {
        document.getElementById('previous-song-title').textContent = title;
    }

    function updatePreviousSongArtist(artist) {
        document.getElementById('previous-song-artist').textContent = artist;
    }

    function updatePreviousSongRating(rating_str) {
        document.getElementById('previous-song-rating').textContent = rating_str;
    }

    function setPreviousSongVisibility(visible) {
        document.getElementById('previous-song-container').setAttribute("style", "display: " + (visible ? "block" : "none"));
    }

    function setActionTextToRate() {
        document.getElementById('user-action').textContent = "how well do you know this song?";
    }

    function setActionTextToRatedAll() {
        document.getElementById('user-action').textContent = "you've rated all the songs!";
    }

    function hideRatingButtons() {
        document.getElementsByClassName('rating-buttons')[0].setAttribute("style", "display: none");
    }

    function showRatingButtons() {
        document.getElementsByClassName('rating-buttons')[0].setAttribute("style", "display: flex");
    }

    function setActionLineDisplay(display) {
        document.getElementById('action-line').setAttribute("style", "display: " + (display ? "block" : "none"));
    }

    function updateSongDetails() {
        console.log(`songStack: ${songStack}`);
        let currentSong = songStack.slice(-1)[0];

        if (isValidSongId(currentSong.id)) {
            updateSongTitle(currentSong.title);
            updateSongArtist(currentSong.artist);
            updateSongVideo(currentSong.video_link);
            setActionTextToRate();
            setActionLineDisplay(true);
            showRatingButtons();
        } else {
            updateSongTitle("");
            updateSongArtist("");
            disableVideo();
            setActionTextToRatedAll();
            setActionLineDisplay(true);
            hideRatingButtons();
        }

        if (songStack.length <= 1) {
            setPreviousSongVisibility(false);
            return;
        }

        let previousSong = songStack.slice(-2)[0];
        setPreviousSongVisibility(true);
        updatePreviousSongTitle(previousSong.title);
        updatePreviousSongArtist(previousSong.artist);
        updatePreviousSongRating(toRatingDisplayString(previousSong.rating));
    }

    function getNextSong() {
        console.log(`Calling /api/next-unrated-song?u=${user.id}`);
        fetch(`/api/next-unrated-song?u=${user.id}`)
                .then(response => response.json())
                .then(song => {
                    songStack.push({
                        id: song.song_id,
                        title: song.song_title,
                        artist: song.song_artist,
                        video_link: song.video_link,
                        rating: 0
                    });
                    updateSongDetails();
                })
                .catch(error => {
                    console.error('Error fetching next song:', error);
                });
    }

    function undoRating() {
        if (songStack.length <= 1) {
            return;
        }
        songStack.pop();
        rateDisplayedSong(0);
    }

    setActionLineDisplay(false);
    hideRatingButtons();
    // Initial request to get the first song
    getNextSong();
</script>
{% endblock %}