{% extends "base.html" %}

{% block title %}Songs{% endblock %}

{% block head %}
<style>
    .song-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        font-size: 0.75em;
    }

    .btn {
        width: 100%;
        padding: 10px 20px;
        font-size: calc(26px + 1vw);
        cursor: pointer;
        margin-bottom: 20px;
    }

    #reset-ratings-btn {
        display: block;
    }

    #reset-ratings-confirm-btn {
        display: none;
    }

    .edit-form {
        font-size: 0.5em;
        display: none;
        padding-left: 2.5em;
        padding-top: 1em;
        padding-bottom: 2em;
    }

    .confirm-delete-btn {
        display: none;
    }
</style>
{% endblock %}


{% block content %}
<p><span id="user-name">{{ user.name }}</span>, these are your song ratings:</p>
<div class="song-list">
    {% for song in songs %}
    <div id="song-and-form-container-{{song.id}}">
    <div class="song-container" id="song-container-{{song.id}}">
        <span class="song-details">
            <button class="edit-btn" id="edit-btn-{{song.id}}" onclick="openEditForm({{song.id}})">✎</button>
            <b><span id="song-title-{{song.id}}">{{ song.title }}</span></b> by <b><span id="song-artist-{{song.id}}">{{ song.artist }}</span></b>
        </span>
        <div class="rating-container">
            <form class="song-rating-form">
                <input type="hidden" name="song_id" value="{{ song.id }}">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <select name="rating" class="rating-dropdown" id="rating-dropdown-{{song.id}}" onchange="onRatingChange('rating-dropdown-{{song.id}}')">
                    {{song.rating}}
                  <option class="rating-option" value="0" {% if song.rating == 1 %}selected{% endif %}></option>
                  <option class="rating-option" value="1" {% if song.rating == 1 %}selected{% endif %}></option>
                  <option class="rating-option" value="2" {% if song.rating == 2 %}selected{% endif %}></option>
                  <option class="rating-option" value="3" {% if song.rating == 3 %}selected{% endif %}></option>
                  <option class="rating-option" value="4" {% if song.rating == 4 %}selected{% endif %}></option>
                </select>

                <input class="change-rating" id="save-btn-{{song.id}}" type="button" class="btn" onclick="onSave({{song.id}})" value="💾" />
            </form>
        </div>
    </div>
    <form id="edit-song-{{song.id}}" class="edit-form">
        <p>
            <label for="artist">Artist:</label>
            <span>
            <input type="text" id="artist" name="artist"
                   list="artist-list" value="{{song.artist}}"/>
        </span>
        </p>
        <p>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{song.title}}"/>
        </p>
        <p>
            <label for="video_link">Video Link:</label>
            <input type="text" id="video_link" name="video_link"
                   value="{{song.video_link}}"/>
        </p>
        <input type="button" value="Submit" onclick="submitForm({{song.id}})"/>
        <input type="button" id="delete-btn-{{song.id}}" value="Delete" onclick="deleteSongOnClick({{song.id}})"/>
        <input type="button" class="confirm-delete-btn" id="confirm-delete-btn-{{song.id}}" value="Really?" onclick="confirmDeleteSongOnClick({{song.id}})"/>
    </form>
    </div>
    {% endfor %}
</div>
<span id="reset-ratings-container">
    <button id="reset-ratings-btn" class="btn">Reset all my song ratings</button>
    <button id="reset-ratings-confirm-btn" class="btn">Click again to reset. This cannot be undone!</button>
</span>

<script>
    function onRatingChange(select_id) {
        let select = document.getElementById(select_id);
        let form = select.parentElement;
        for (let i = 0; i < form.children.length; i++) {
            let child = form.children[i];
            if (child.classList.contains("change-rating")) {
                child.style.visibility = "visible";
            }
        }
    }

    function onSave(song_id) {
        let select = document.getElementById("rating-dropdown-" + song_id);
        console.log(select);
        rateSong({{user.id}}, song_id, parseInt(select.value))
            .then(response => {
                if (response.ok) {
                    let saveBtn = document.getElementById("save-btn-" + song_id);
                    saveBtn.style.visibility = "hidden";
                } else {
                    console.error('Error rating song:', response.status);
                }
            })
            .catch(error => {
                console.error('Error rating song:', error);
            });
    }

    function openEditForm(song_id) {
        let form = document.getElementById("edit-song-" + song_id);
        form.style.display = "block";
    }

    function submitForm(song_id) {
        let form = document.getElementById("edit-song-" + song_id);
        let artist = form.querySelector("#artist").value;
        let title = form.querySelector("#title").value;
        let video_link = form.querySelector("#video_link").value;
        editSong(song_id, artist, title, video_link)
            .then(response => {
                if (response.ok) {
                    // Edit was successful, so hide the form and update the
                    // song details
                    form.style.display = "none";
                    document.getElementById("song-artist-" + song_id).innerHTML = artist;
                    document.getElementById("song-title-" + song_id).innerHTML = title;
                } else {
                    console.error('Error editing song:', response.status);
                }
            })
            .catch(error => {
                console.error('Error editing song:', error);
            });
    }

    function deleteSongOnClick(song_id) {
        let deleteBtn = document.getElementById("delete-btn-" + song_id);
        deleteBtn.style.display = "none";
        let confirmDeleteBtn = document.getElementById("confirm-delete-btn-" + song_id);
        confirmDeleteBtn.style.display = "inline-block";
    }

    function confirmDeleteSongOnClick(song_id) {
        let deleteBtn = document.getElementById("delete-btn-" + song_id);
        deleteBtn.style.display = "block";
        let confirmDeleteBtn = document.getElementById("confirm-delete-btn-" + song_id);
        confirmDeleteBtn.style.display = "none";
        deleteSong(song_id)
            .then(response => {
                if (response.ok) {
                    // Hide the entire song row
                    let songContainer = document.getElementById("song-and-form-container-" + song_id);
                    songContainer.style.display = "none";
                } else {
                    console.error('Error deleting song:', response.status);
                }
            })
            .catch(error => {
                console.error('Error deleting song:', error);
            });
    }


    let rating_option_values = document.getElementsByClassName('rating-option');
    for (let i = 0; i < rating_option_values.length; i++) {
        option = rating_option_values[i];
        option.innerHTML = toRatingDisplayString(parseInt(option.value))
    }

    let change_rating_buttons = document.getElementsByClassName('change-rating');
    for (let i =0; i < change_rating_buttons.length; i++) {
        change_rating_buttons[i].style.visibility = "hidden";
    }

    let resetRatingsBtn = document.getElementById("reset-ratings-btn");
    let resetRatingsConfirmBtn = document.getElementById("reset-ratings-confirm-btn");

    function resetRating() {
        resetRatingsBtn.style.display = "none";
        resetRatingsConfirmBtn.style.display = "block";
    }
    resetRatingsBtn.addEventListener("click", resetRating);

    function resetRatingConfirm() {
        window.location.href = "/reset-ratings?u={{user.id}}";
    }
    resetRatingsConfirmBtn.addEventListener("click", resetRatingConfirm);

</script>
{% endblock %}
