{% extends "base.html" %}

{% block subtitle %}Loading next song...{% endblock %}

{% block logo %}{% endblock %}

{% block head %}
<style>
    body {
        text-align: center;
        height: 100%;
    }

    .content {
        max-width: 100%;
        padding: 30px;
        height: 100%;
    }

    .song-container {
    }

    .song-container h1 {
        margin-bottom: 0;
        word-break: break-word;
    }

    .song-container h3 {
        margin-top: 0;
        margin-bottom: 2.5em;
    }

    #rating-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }

    .btn {
        width: 100%;
        padding: 10px 20px;
        font-size: calc(26px + 1vw);
        cursor: pointer;
        margin-bottom: 20px;
    }

    #leaderboard-container {
        margin-bottom: 2em;
        margin-top: 2em;
        width: 100%;
    }

    #leaderboard-table {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        row-gap: 10px;
        flex-wrap: wrap;
    }

    .user-score {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 50%;
    }

    .chip {
        display: inline-block;
        padding: 0 25px;
        height: 50px;
        line-height: 50px;
        border-radius: 25px;
        background-color: #f1f1f1;
    }

    .chip img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    #half-divider {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #left {
        flex: 1;
    }

    #right {
        flex: 1;
    }

    #counter {
        font-size: 4em;
    }

    .actionBtn {
        height: 3em;
        width: 3em;
        border: none;
        cursor: pointer;
    }

    #pause {
        background: url("/static/circle-pause-regular.svg") no-repeat center;
    }

    #skip {
        background: url("/static/circle-xmark-regular.svg") no-repeat center;
    }

    #snooze {
        background: url("/static/circle-right-regular.svg") no-repeat center;
    }


</style>
{% endblock %}

{% block content %}
<div id="half-divider">
    <div id="left">
        <span class="song-container" id="song-details"></span>

        <div id="countdown">
            <h2>Starting in <div id="counter"></div>
                <button class="actionBtn" id="pause"></button>
                <button class="actionBtn" id="skip"></button>
                <button class="actionBtn" id="snooze"></button>
            </h2>
        </div>
</h2>
        <h1><a href="/" class="logo">🎤♫ Fair Karaoke ♫🎤</a></h1>
    </div>
    <div id="right">
        <div id="leaderboard-container">
            <div id="leaderboard-table">
            </div>
        </div>
    </div>
</div>


<script>
    let currentSong = {};
    let session_id = "{{ session_id }}";

    function updateCurrentlyPlaying() {
        fetch(`/api/get-current-song?s=${session_id}`)
                .then(response => response.json())
                .then(song_json => {
                    currentSong = parseJsonSong(song_json);
                    updateCurrentSongDetails();

                    getCurrentScores(session_id)
                            .then(scores => {
                                updateCurrentScores(scores);
                            });
                })
                .catch(error => {
                    console.log('Error loading song:', error);
                });
    }

    function updateCurrentSongDetails() {
        const songDetails = document.getElementById('song-details');
        const ratingsContainer = document.getElementById('rating-container');
        if (currentSong.id !== -1) {
            songDetails.innerHTML = `
                <h1 id="song-title">${currentSong.title}</h1>
                <h3 id="song-artist">${currentSong.artist}</h3>
            `;
        } else {
            songDetails.innerHTML = currentSong.title;
        }
    }

    function getScoreForRating(score) {
        let rating = currentSong.ratings.find(
            rating => rating.user_id === score.user_id);
        if (rating === undefined) {
            return 0;
        }
        return toScore(rating.rating);
    }

    function sortScores(a, b) {
        let ratingDiff = getScoreForRating(b) - getScoreForRating(a);
        if (ratingDiff !== 0) {
            return ratingDiff;
        }
        return a.score - b.score;
    }

    function updateCurrentScores(scores) {
        const leaderboardTable = document.getElementById('leaderboard-table');
        leaderboardTable.innerHTML = '';
        scores.sort(sortScores);
        for (let i = 0; i < scores.length; i++) {
            let score = scores[i];
            let rating = currentSong.ratings.find(rating => rating.user_id === score.user_id);
            if (rating === undefined) {
                rating = {rating: 0};
            }
            let score_int = score.score;
            leaderboardTable.innerHTML += `
                <span class="user-score">
                    <span class="chip">${score.user_name} (${score_int})</span>
                    ${toStars(rating.rating)}
                </span>
            `;
        }
    }

    function redirectToVideoLink() {
        if (currentSong.id !== -1) {
            console.log('Redirecting to video link:', currentSong.video_link);
            window.location.href = currentSong.video_link;
        }
    }

    let pauseBtn = document.getElementById('pause');
    let isPaused = false;
    function pause() {
        if (isPaused) {
            isPaused = false;
            pauseBtn.style.background = 'url("/static/circle-pause-regular.svg") no-repeat center';
        }
        else {
            isPaused = true;
            pauseBtn.style.background = 'url("/static/circle-play-regular.svg") no-repeat center';
        }
    }
    pauseBtn.onclick = pause;

    let countdown = 10;
    function updateCountdown() {
        if (!isPaused) {
            const counter = document.getElementById('counter');
            counter.innerHTML = countdown;
            countdown--;
            if (countdown <= 0) {
                redirectToVideoLink();
                return;
            }
        }
        setTimeout(updateCountdown, 1000);
    }

    function getNextVideo(apiAction) {
        fetch(`/api/${apiAction}?s=${session_id}&embed=0`)
                .then(response => response.json())
                .then(song_json => {
                    currentSong = parseJsonSong(song_json);
                    updateCurrentSongDetails();
                    updateCurrentlyPlaying();
                    countdown = 10;
                    isPaused = true;
                    pause();
                })
                .catch(error => {
                    console.log('Error loading song:', error);
                });

    }

    function skip() {
        getNextVideo('skip-and-get-next');
    }
    document.getElementById("skip").onclick = skip;

    function snooze() {
        getNextVideo('snooze-and-get-next');
    }
    document.getElementById("snooze").onclick = skip;

    updateCurrentlyPlaying();
    updateCountdown();

</script>
{% endblock %}
