{% extends "base.html" %}

{% block subtitle %}Next song!{% endblock %}

{% block logo %}{% endblock %}

{% block head %}
<style>
    body {
        text-align: center;
        height: 100%;
    }

    .container {
        height: 100%;
        margin: 0;
    }

    .content {
        max-width: 100%;
        padding: 2em;
        margin: 0;
        height: 100%;
        box-sizing: border-box;
    }

    .song-container {
    }

    .song-container h1 {
        margin-bottom: 0;
        word-break: break-word;
    }

    .song-container h3 {
        margin-top: 0;
        margin-bottom: 2.5em;
    }

    #leaderboard-container {
        margin-bottom: 2em;
        margin-top: 2em;
        width: 100%;

        transform: rotateY(0deg);
    }

    #companion-qr-code {
        margin-bottom: 2em;
        margin-top: 2em;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;

        transform: rotateY(-180deg);
    }

    #leaderboard-table {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        row-gap: 10px;
        flex-wrap: wrap;
    }

    .user-score {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 50%;
    }

    .chip {
        display: inline-block;
        padding: 0 25px;
        height: 50px;
        line-height: 50px;
        border-radius: 25px;
        background-color: #f1f1f1;
    }

    .chip img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    #half-divider {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    #left {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        flex: 1;
    }

    #right {
        margin-top: 2em;
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #flipper {
        width: 100%;
        position: relative;
        display: flex;
        perspective: 1000px;
        transform-origin: 100% center;
    }

    .flippable {
        position: absolute;
        top: 0;
        left: 0;

        overflow: hidden;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transition: transform .6s ease-in-out;
    }

    #flipper.flip #leaderboard-container {
        transform: rotateY(180deg);
    }

    #flipper.flip #companion-qr-code {
        transform: rotateY(0deg);
    }

    #counter {
        font-size: 4em;
    }

    .iconBtn, .textBtn {
        height: 3em;
        margin: 0.5em;
    }

    .iconBtn {
        height: 3em;
        width: 3em;
        border: none;
    }

    .textBtn {
        font-weight: bold;
        background: white;
        border: 3px solid;
        border-radius: 1em;
        font-size: 0.4em;
        cursor: pointer;
        width: 7em;
    }
    #pause {
        background: url("/static/circle-pause-regular.svg") no-repeat center;
    }

    /*
    #skip {
        background: url("/static/circle-xmark-regular.svg") no-repeat center;
    }

    #snooze {
        background: url("/static/circle-right-regular.svg") no-repeat center;
    }
    */

    #showQr {
        background: url("/static/qrcode-solid.svg") no-repeat center;
    }

    #songButtons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


</style>
{% endblock %}

{% block content %}
<div id="half-divider">
    <div id="left">
        <span class="song-container" id="song-details"></span>

        <div id="countdown">
            <h2>Starting in <div id="counter"></div>
                <div id="pauseBtnRow">
                    <button class="iconBtn" id="pause"></button>
                </div>
                <div id="songButtons">
                    <button class="textBtn" id="skip">Not today</button>
                    <button class="textBtn" id="snooze">Maybe later</button>
                </div>
            </h2>
        </div>
</h2>
        <h1><a href="/" class="logo">🎤♫ Fair Karaoke ♫🎤</a></h1>
    </div>
    <div id="right">
        <div id="flipper">
            <div id="leaderboard-container" class="flippable">
                <div id="leaderboard-table">
                </div>
            </div>
            <div id="companion-qr-code" class="flippable">
            </div>
        </div>
        <div>
            <button class="iconBtn" id="showQr"></button>
        </div>
    </div>
</div>

<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

<script>
    let currentSong = {};
    let session_id = "{{ session_id }}";


    let companion_link = "http://" + location.hostname + "/companion?s=" + session_id;
    new QRCode(document.getElementById("companion-qr-code"), companion_link);

    function toggleQrCode() {
        let flipper = document.getElementById("flipper");
        console.log(flipper.classList);
        if (flipper.classList.contains("flip")) {
            flipper.classList.remove("flip");
        } else {
            flipper.classList.add("flip");
        }
    }

    document.getElementById("showQr").onclick = toggleQrCode;

    function updateCurrentlyPlaying() {
        fetch(`/api/get-current-song?s=${session_id}`)
                .then(response => response.json())
                .then(song_json => {
                    currentSong = parseJsonSong(song_json);
                    updateCurrentSongDetails();

                    getCurrentScores(session_id)
                            .then(scores => {
                                updateCurrentScores(scores);
                            });
                })
                .catch(error => {
                    console.log('Error loading song:', error);
                });
    }

    function updateCurrentSongDetails() {
        const songDetails = document.getElementById('song-details');
        if (currentSong.id !== -1) {
            songDetails.innerHTML = `
                <h1 id="song-title">${currentSong.title}</h1>
                <h3 id="song-artist">${currentSong.artist}</h3>
            `;
        } else {
            songDetails.innerHTML = currentSong.title;
        }
    }

    function getScoreForRating(score) {
        let rating = currentSong.ratings.find(
            rating => rating.user_id === score.user_id);
        if (rating === undefined) {
            return 0;
        }
        return toScore(rating.rating);
    }

    function sortScores(a, b) {
        let ratingDiff = getScoreForRating(b) - getScoreForRating(a);
        if (ratingDiff !== 0) {
            return ratingDiff;
        }
        return a.score - b.score;
    }

    function updateCurrentScores(scores) {
        const leaderboardTable = document.getElementById('leaderboard-table');
        leaderboardTable.innerHTML = '';
        scores.sort(sortScores);
        for (let i = 0; i < scores.length; i++) {
            let score = scores[i];
            let rating = currentSong.ratings.find(rating => rating.user_id === score.user_id);
            if (rating === undefined) {
                rating = {rating: 0};
            }
            let score_int = score.score;
            let name = score.user_name;
            if (score.user_stepped_out) {
                name = `<s>${name}</s>`
            }
            leaderboardTable.innerHTML += `
                <span class="user-score">
                    <span class="chip">${name} (${score_int})</span>
                    ${toStars(rating.rating)}
                </span>
            `;
        }
    }

    function redirectToVideoLink() {
        if (currentSong.id !== -1) {
            console.log('Redirecting to video link:', currentSong.video_link);
            window.location.href = currentSong.video_link;
        }
    }

    let pauseBtn = document.getElementById('pause');
    let isPaused = false;
    function pause() {
        if (isPaused) {
            isPaused = false;
            pauseBtn.style.background = 'url("/static/circle-pause-regular.svg") no-repeat center';
        }
        else {
            isPaused = true;
            pauseBtn.style.background = 'url("/static/circle-play-regular.svg") no-repeat center';
        }
    }
    pauseBtn.onclick = pause;

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    let countdownStart;
    try {
        countdownStart = parseInt(urlParams.get('countdown') ?? 10)
    } catch (error) {
        countdownStart = 10;
    }
    let countdown = countdownStart;
    function updateCountdown() {
        if (!isPaused) {
            const counter = document.getElementById('counter');
            counter.innerHTML = countdown;
            countdown--;
            if (countdown <= 0) {
                redirectToVideoLink();
                return;
            }
        }
        setTimeout(updateCountdown, 1000);
    }

    function getNextVideo(apiAction) {
        fetch(`/api/${apiAction}?s=${session_id}&embed=0`)
                .then(response => response.json())
                .then(song_json => {
                    currentSong = parseJsonSong(song_json);
                    updateCurrentSongDetails();
                    updateCurrentlyPlaying();
                    countdown = countdownStart;
                    isPaused = true;
                    pause();
                })
                .catch(error => {
                    console.log('Error loading song:', error);
                });

    }

    function skip() {
        getNextVideo('skip-and-get-next');
    }
    document.getElementById("skip").onclick = skip;

    function snooze() {
        getNextVideo('snooze-and-get-next');
    }
    document.getElementById("snooze").onclick = skip;

    updateCurrentlyPlaying();
    updateCountdown();

</script>
{% endblock %}
