{% extends "base.html" %}

{% block subtitle %}Start Session{% endblock %}

{% block head %}
<style>
    #session-id-container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    #session-id-container h1 {
        margin: 0;
        padding: 0
    }

    #companion-qr-code {
        margin-top: 20px;
    }

    #bookmark-this-link {
       text-align: center;
    }

</style>
{% endblock %}

{% block content %}
<div id="start-session-form">
    <p>Who's singing tonight?</p>
    <div>
        <form>
            {% for user in users %}
            <p>
                <input type="checkbox" id="user-{{ user.id }}" name="user-{{ user.id }}" value="{{ user.id }}" class="user-checkbox"/>
                <label for="user-{{ user.id }}">{{ user.name }}</label>
            </p>
            {% endfor %}
            <input type="button" value="Start session!" onclick="startSession()" />
            <input type="button" value="Generate playlist" onclick="generatePlaylist()"/>
        </form>
    </div>
</div>

<div id="session-details">
    <div id="session-id-container">
        <p>Join on your phone by scanning this QR code:</p>
        <span id="companion-qr-code"></span>
    </div>

    <div id="bookmark-this-link">
        <h3>Drag this link to your bookmarks now:</h3>
        <h1><a href="" id="next-link">Next Song!</a></h1>
    </div>
</div>

<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

<script>
    let user = getUserOrRedirectToLoginPage();
    document.getElementById("user-" + user.id).checked = true;
    document.getElementById("session-details").style.display = "none";
    document.getElementById("start-session-form").style.display = "block";


    function startSession() {
        let user_ids = [];
        let checkboxes = document.getElementsByClassName("user-checkbox");
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                user_ids.push(checkboxes[i].value);
            }
        }

        let data = {
            user_ids: user_ids,
        };

        fetch('/api/create-session', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
                .then(response => response.json())
                .then(response_data => {
                    document.getElementById("session-details").style.display = "block";
                    document.getElementById("start-session-form").style.display = "none";

                    document.getElementById("next-link").href = "/next?s=" + response_data.session_id;

                    let companion_link = "http://" + location.host + "/companion?s=" + response_data.session_id;
                    new QRCode(document.getElementById("companion-qr-code"), companion_link);
                });

    }

    function generatePlaylist() {
        let user_ids = [];
        let checkboxes = document.getElementsByClassName("user-checkbox");
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                user_ids.push(checkboxes[i].value);
            }
        }

        let form = document.createElement('form');
        form.action='/generate-static-playlist';
        form.method='POST';
        form.target='_blank';


        let i=document.createElement('input');
        i.type='hidden';
        i.name='user_ids';
        i.value=JSON.stringify(user_ids);
        form.appendChild(i);

        document.body.appendChild(form);
        form.submit();
    }
</script>
{% endblock %}
