{% extends "base.html" %}

{% block subtitle %}Start Session{% endblock %}

{% block content %}
<div id="start-session-form">
    <p>Who's singing tonight?</p>
    <div>
        <form>
            {% for user in users %}
            <p>
                <input type="checkbox" id="user-{{ user.id }}" name="user-{{ user.id }}" value="{{ user.id }}" class="user-checkbox"/>
                <label for="user-{{ user.id }}">{{ user.name }}</label>
            </p>
            {% endfor %}
            <input type="button" value="Start session!" onclick="startSession()" />
            <input type="button" value="Generate playlist" onclick="generatePlaylist()"/>
        </form>
    </div>
</div>

<div id="session-details">
    <p>Your session ID is:</p>
    <h1 id="session-id"></h1>

    <form id="goto-session" action="/player">
        <input type="hidden" id="hidden-session-id" name="s" value="" />
        <button type="submit">Go to player!</button>
    </form>
    <p>
        Alternatively, you can bookmark these links:
    <ul>
        <li><a href="" id="next-link">Next</a></li>
        <li><a href="" id="skip-link">Skip</a></li>
        <li><a href="" id="snooze-link">Snooze</a></li>
    </ul>
    </p>
</div>

<script>
    let user = getUserOrRedirectToLoginPage();
    document.getElementById("user-" + user.id).checked = true;
    document.getElementById("session-details").style.display = "none";
    document.getElementById("start-session-form").style.display = "block";


    function startSession() {
        let user_ids = [];
        let checkboxes = document.getElementsByClassName("user-checkbox");
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                user_ids.push(checkboxes[i].value);
            }
        }

        let data = {
            user_ids: user_ids,
        };

        fetch('/api/create-session', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
                .then(response => response.json())
                .then(response_data => {
                    document.getElementById("session-id").innerText = response_data.session_id;
                    document.getElementById("session-details").style.display = "block";
                    document.getElementById("start-session-form").style.display = "none";
                    document.getElementById("hidden-session-id").value = response_data.session_id;

                    document.getElementById("next-link").href = "/next?s=" + response_data.session_id;
                    document.getElementById("skip-link").href = "/skip?s=" + response_data.session_id;
                    document.getElementById("snooze-link").href = "/snooze?s=" + response_data.session_id;
                });

    }

    function generatePlaylist() {
        let user_ids = [];
        let checkboxes = document.getElementsByClassName("user-checkbox");
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                user_ids.push(checkboxes[i].value);
            }
        }

        let form = document.createElement('form');
        form.action='/generate-static-playlist';
        form.method='POST';
        form.target='_blank';


        let i=document.createElement('input');
        i.type='hidden';
        i.name='user_ids';
        i.value=JSON.stringify(user_ids);
        form.appendChild(i);

        document.body.appendChild(form);
        form.submit();
    }
</script>
{% endblock %}
