{% extends "base.html" %}

{% block subtitle %}Users{% endblock %}

{% block head %}
<style>
    #userlist {
        display: flex;
        flex-flow: column nowrap;
    }

    .user-row {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        row-gap: 3em;
        width: 10em;
    }

    .login-btn {
        flex: none;
    }

    #create-user {
        margin-top: 2em;
    }
</style>
{% endblock %}

{% block content %}
<h1>Users</h1>
<p>I dare you to find a less secure log-in page!</p>

<div id="userlist">
    {% for user in users %}
        <div class="user-row">
            <p>{{ user.name }}</p>
            <button onclick="login({{user.id}}, '{{user.name}}')" class="login-btn">Log in</button>
        </div>
    {% endfor %}
</div>
<div>
    <form id="create-user" action="/users" method="POST">
        <label for="name">Create a new user:</label>
        <input type="text" name="name" id="name" />
        <input type="submit" value="Create" />
    </form>
</div>

<script>
</script>
{% endblock %}
